name: Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring, pdo, bcmath, pdo_mysql, openssl, tokenizer, xml, ctype, json

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader --no-interaction

      - name: Set up environment
        run: cp .env.example .env

      - name: Generate application key
        run: php artisan key:generate

      - name: clear cache
        run: php artisan cache:clear

      - name: clear config
        run: php artisan config:clear

      - name: Run Laravel tests
        run: php artisan test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: normiehamuda/bookstore-management-system:${{ github.sha }}
      - name: SSH into EC2 instance and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker pull normiehamuda/bookstore-management-system:${{ github.sha }}
            docker stop bookstore-management-prod || true
            docker rm bookstore-management-prod || true
            docker run -d -p 80:80 --name bookstore-management-prod \
              -e APP_KEY="${{ secrets.APP_KEY }}" \
              -e DB_HOST="${{ secrets.DB_HOST }}" \
              -e DB_USERNAME="${{ secrets.DB_USERNAME }}" \
              -e DB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
              -e OPENSEARCH_HOST="${{ secrets.OPENSEARCH_HOST }}" \
              -e OPENSEARCH_PORT="${{ secrets.OPENSEARCH_PORT }}" \
              -e OPENSEARCH_SCHEME="${{ secrets.OPENSEARCH_SCHEME }}" \
              -e OPENSEARCH_USERNAME="${{ secrets.OPENSEARCH_USERNAME }}" \
              -e OPENSEARCH_PASSWORD="${{ secrets.OPENSEARCH_PASSWORD }}" \
              normiehamuda/bookstore-management-system:${{ github.sha }}
